/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	/*position: relative;*/
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
       
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	min-width: 20em; /* allow long menu items to determine submenu width */
	*width: 20em; /* no auto sub width for IE7, see white-space comment below */
        border-right: 1px solid #434752;
}
.sf-menu a {
/*	padding: .75em 1em;*/
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #13a;
}
.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
#second-header .sf-menu ul li {
	background: #2c323e;
        padding: 5px 10px;
}
#second-header .sf-menu ul li a {
	color: #fff;
}
#second-header .sf-menu ul li ul li a {
	color: #f2a022;
}
.sf-menu ul li a span {
	color: #8c9594;
        font-size: 12px;
        display: block;
}
#second-header .sf-menu ul ul li {
/*	background: #2c323e;*/
	background: transparent;
}
#second-header .sf-menu ul ul  {
   
-webkit-box-shadow: -5px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -5px 1px 5px rgba(50, 50, 50, 0.75);
box-shadow:         -5px 1px 5px rgba(50, 50, 50, 0.75);

background: #2c323e url(../../../img/tmp/menu-img.jpg) 100% 100% no-repeat;
padding-bottom: 300px;
}
#second-header .sf-menu ul li:hover,
#second-header .sf-menu ul li.sfHover {
	background: #17b7b5;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
#second-header .sf-menu ul ul li:hover,
#second-header .sf-menu ul ul li.sfHover {
	background: #2c323e;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
#second-header .sf-menu ul ul li:hover a,
#second-header .sf-menu ul ul li.sfHover a{
    text-decoration: underline;
}
.sf-menu ul li:hover a span,
.sf-menu ul li.sfHover a span {
	color: #2e4849;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #464e5b;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
/*
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; 
}

.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #dFeEFF; 
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; 
}
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; 
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
*/